header {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 50px;
    background-color: rgb(100, 167, 100);
    #div-ricerca{
        position: relative;
        
        #div-errore{
            
            padding: 5px;
            position: absolute;
            top: 0px;
            left: -100%;
            font-size: 25px;
            background-color: green;
            color: red;
        }
    }
  
    .logo{
        a{
            text-decoration: none;
            color: lightblue;
        }
    }
    input{
        height: 50px;
        width: 300px;
    }
    .fa-magnifying-glass{
        font-size: 25px;
        margin-left: 15px;
        cursor: pointer;
    }
}

